@import './variables';

.app {
    /* for sticky footer no matter the height of viewport */
    display: flex;
    /*min-height: calc(100vh - #{var(--page-frame});*/
    flex-direction: column;
    animation: fadeIn 0.2s ease-out;
}
.navbar {
    flex: 1;
    width: inherit;
    margin-top: 80px;
}
.content {
    margin-top: 4rem;
    padding: 0 calc(var(--spacer) / 1.5);
    flex: 1;
    /*background-color: aqua;
    background-image: url('../assets/waves_crop_again.png');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;*/
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    max-width: 32rem;
    margin: auto;
    flex: 1;
    padding: 0;
}

.defaultLabel {
    text-align: center;
    font-weight: 600;
    font-size: 1.3rem;
}
.jellyfish {
    padding-top: var(--spacer);
    width: calc(var(--appWidth) / 1.8);
    height: calc(var(--appHeight) / 1.7);
}

.mt-1 {
    margin-top: .5rem;
}

.mt-2 {
    margin-top: 1rem;
}

.my-1 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.my-2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.mb-1 {
    margin-bottom: .5rem;
}

.mb-2 {
    margin-bottom: 1rem;
}

.mx-1 {
    margin-right: .5rem;
    margin-left: .5rem;
}

.mx-2 {
    margin-right: 1rem;
    margin-left: 1rem;
}

.mr-1 {
    margin-right: .5rem;
}

.mr-2 {
    margin-right: 1rem;
}

.ml-1 {
    margin-left: .5rem;
}

.ml-2 {
    margin-left: 1rem;
}

.p-1 {
    padding: 1rem;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
