@import '../styles/variables.css';

.button {
    border: 0;
    cursor: pointer;
    outline: 0;
    display: inline-block;
    width: fit-content;
    padding: var(--spacer) / 4 var(--spacer);
    font-size: var(--font-size-base);
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    border-radius: 2px;
    transition: 0.2s ease-out;
    color: var(--brand-white);
    background: var(--brand-grey-light);
    box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.1);
    min-height: 45px;
    user-select: none;
    text-align: center;
}

.button :hover, :focus {
    color: var(--brand-white);
    background: var(--brand-grey-light);
    text-decoration: none;
    transform: translate3d(0, -0.05rem, 0);
    box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.1);
}

.button :active {
    background: var(--brand-grey-light);
    transition: none;
    transform: none;
    box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.1);
}

.button :disabled {
    color: rgba(var(--brand-white), 0.7);
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.8;
}



.buttonPrimary {
    border: 0;
    cursor: pointer;
    outline: 0;
    display: inline-block;
    width: fit-content;
    padding: var(--spacer) / 4 var(--spacer);
    font-size: var(--font-size-base);
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    border-radius: 2px;
    transition: 0.2s ease-out;
    color: var(--brand-white);
    background: var(--brand-gradient);
    box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.1);
    min-height: 45px;
    user-select: none;
    text-align: center;
}

.buttonPrimary :hover, :focus {
    background: var(--brand-gradient);
}

.button :active {
    background: var(--brand-gradient);
}



.link {
    border: 0;
    outline: 0;
    display: inline-block;
    width: fit-content;
    background: 0;
    padding: 0;
    color: var(--brand-pink);
    font-size: var(--font-size-base);
    box-shadow: none;
    cursor: pointer;
}

.image {
    border: none;
    text-decoration: none;
}

.image :hover, :focus {
    color: var(--brand-pink);
    text-decoration: none;
    transform: translate3d(0, -0.05rem, 0);
    box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.1);
}
