
/* Define vars we'll be using*/
:root {
  --brand-success:rgba(123, 17, 115, 1);
--loader-size: 8em;
--check-height: 1rem;
--check-width: 1rem;
--check-left: 1rem;
--check-thickness: 5px;
--check-color: var(--brand-success);
}


.checkmark-container {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 30px;
  width: 100%;
  text-align: center;
}

button {
  background: none;
}

.circle-loader {
  margin-bottom: 1rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-left-color: var(--check-color);
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: var(--loader-size);
  height: var(--loader-size);
  margin: auto;
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: var(--check-color);
  transition: border 500ms ease-out;
}

.checkmark .draw :after {
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}

.checkmark :after {
  opacity: 1;
  height: var(--check-height);
  width: var(--check-width);
  transform-origin: left top;
  border-right: var(--check-thickness) solid var(--check-color);
  border-top: var(--check-thickness) solid var(--check-color);
  content: '';
  left: var(--check-left);
  top: var(--check-height);
  position: absolute;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: var(--check-width);
    opacity: 1;
  }
  40% {
    height: var(--check-height);
    width: var(--check-width);
    opacity: 1;
  }
  100% {
    height: var(--check-height);
    width: var(--check-width);
    opacity: 1;
  }
}