
.container {
    width: parent;
    margin-top: 0.8rem;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.settings {
    font-size: 24px;
    text-decoration: none;
    border: none;
}
