@import './variables.css';

.form {
    width: 100%;
}

.formHeader {
    margin-bottom: var(--spacer);
}

.formTitle {
    font-size: var(--font-size-h2);
    margin: 0;
}

.formDescription {
    margin-bottom: 0;
    margin-top: 1rem;
}

/* Help */
.help {
    font-size: var(--font-size-small);
    color: darken(var(--brand-grey-light), 10%);
    margin-top: 0.5rem;
}

/* Input */
.inputWrap {
    background: var(--brand-gradient);
    border-radius: var(--border-radius);
    width: 100%;
    padding: 2px;
    display: flex;
    position: relative;
}

.inputWrap .isFocused {
    background: var(--brand-black);
}

.inputWrapSearch {
    background: var(--brand-gradient);
    border-radius: var(--border-radius);
    width: 100%;
    padding: 2px;
    display: flex;
    position: relative;
}

.inputWrapSearch svg {
    position: absolute;
    left: 0.33rem;
    width: 1.25rem;
    height: 1.25rem;
    top: 50%;
    margin-top: -.75rem;
    fill: rgba(var(--brand-grey-light), .7);
}

.inputWrapSearch .input {
    padding-left: 0.75rem;
}

.input {
    font-size: var(--font-size-base);
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-bold);
    color: var(--brand-black);
    border: none;
    box-shadow: none;
    width: 100%;
    background: var(--brand-white);
    padding: 0.66rem;
    margin: 0;
    border-radius: var(--border-radius);
    transition: .2s ease-out;
    min-height: 43px;
    appearance: none;
}

.input :read-only :disabled {
    background-color: var(--brand-grey-lighter);
    cursor: not-allowed;
    pointer-events: none;
}

.input :focus {
    border: none;
    box-shadow: none;
    outline: 0;
}

.input ::placeholder {
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    color: var(--brand-grey-light);
    font-weight: var(--font-weight-base);
    transition: .2s ease-out;
    opacity: .7;
}

.select {
    font-size: var(--font-size-base);
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-bold);
    color: var(--brand-black);
    border: 0;
    box-shadow: none;
    width: 100%;
    background: var(--brand-white);
    padding: 0.66rem;
    margin: 0;
    border-radius: var(--border-radius);
    transition: .2s ease-out;
    min-height: 43px;
    appearance: none;
    height: 43px;
    padding-right: 3rem;

    /* custom arrow
    // stylelint-disable */
    background-image: linear-gradient(45deg, transparent 50%, var(--brand-purple) 50%),
        linear-gradient(135deg, var(--brand-purple) 50%, transparent 50%),
        linear-gradient(
            to right,
            var(--brand-pink) 1px,
            lighten(var(--brand-grey-lighter), 5%) 2px,
            lighten(var(--brand-grey-lighter), 5%)
        );
    background-position: calc(100% - 18px) calc(1rem + 5px),
        calc(100% - 13px) calc(1rem + 5px), 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5rem 3rem;
    background-repeat: no-repeat;
}

.select :focus {
    outline: 0;
    font-family: var(--font-family-base);
}

.radioGroup {
    margin-top: 1rem;
    margin-bottom: -2%;

    /*
    @media screen and (min-width: var(--break-point--small) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    */
}

.radioWrap {
    position: relative;
    padding: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 2%;

    /*
    @media screen and (min-width: var(--break-point--small)) {
        flex: 0 0 49%;
    }
    */
}

.radio .label :checked {
    border-color: var(--brand-pink);
}

.radioLabel {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-small);
    line-height: 1.2;
    border: 2px solid var(--brand-grey-lighter);
    border-radius: .2rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: var(--brand-grey);
    text-align: left;
    padding-left: 2.5rem;
    display: flex;
    align-items: center;
}

.inputSmall {
    font-size: var(--font-size-base);
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-bold);
    color: var(--brand-black);
    border: none;
    box-shadow: none;
    width: 100%;
    background: var(--brand-white);
    padding: 0.66rem;
    margin: 0;
    border-radius: var(--border-radius);
    transition: .2s ease-out;
    min-height: 43px;
    appearance: none;
    height: 32px;
    padding-right: 2rem;

    font-size: var(--font-size-small);
    min-height: 32px;
    padding: 0.5rem;
}

.inputSmall ::placeholder {
    font-size: var(--font-size-small);
}

.selectSmall {
    font-size: var(--font-size-base);
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-bold);
    color: var(--brand-black);
    border: none;
    box-shadow: none;
    width: 100%;
    background: var(--brand-white);
    padding: 0.66rem;
    margin: 0;
    border-radius: var(--border-radius);
    transition: .2s ease-out;
    min-height: 43px;
    appearance: none;
    height: 32px;
    padding-right: 2rem;

    /* custom arrow */
    background-position: calc(100% - 14px) 1rem, calc(100% - 9px) 1rem, 100% 0;
    background-size: 5px 5px, 5px 5px, 2rem 3rem;
}

.label {
    color: var(--brand-grey);
    font-size: var(--font-size-base);
    font-family: var(--font-family-title);
    line-height: 1.2;
    display: block;
    margin-bottom: 0.33rem;
}

.required {
    color: var(--brand-grey);
    font-size: var(--font-size-base);
    font-family: var(--font-family-title);
    line-height: 1.2;
    display: block;
    margin-bottom: 0.33rem;
}

.required :after {
    content: '*';
    font-size: var(--font-size-base);
    color: var(--brand-grey-light);
    display: inline-block;
    margin-left: .1rem;
}

.row {
    margin-bottom: var(--spacer);
}
