@import 'variables.css';

#searchForm {
    display: flex;
}

.accordion {
    /*background-color: aqua;*/
    /*border-color: aqua;*/
    /*border: 2px solid aqua;*/
    display: grid;
    grid-gap: 5px;
}

.gradient-border-wrap {
    background: var(--brand-gradient);
    /*border-radius: var(--border-radius);*/
    /*padding-top: 2px;*/
    /*padding-bottom: 2px;*/
    border-radius: var(--border-radius);
    padding: 2px;
    box-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.2);
}

.accordionSection {
    background-color: var(--brand-white);

    /*border-radius: var(--border-radius);*/
    
    text-align: left;
    color: var(--brand-black);

    padding: 5px;
}

.tokenSymbol {
    font-size: var(--font-size-base);
    color: var(--color-secondary);
}

.accordionSectionInner {
    background-color: var(--brand-white);

    border-top: 2px solid var(--brand-grey-lighter);
    padding-left: 15px;

    font-size: 1.2rem;
    /*font-weight: 600;*/
}

.assetAuthor {
    /*font-size: var(--font-size-base);
    color: var(--color-secondary);*/
}

.assetPrice{
    text-align: right;
    vertical-align: middle;
}

.priceNumber{
    font-weight: 700;
    margin-right: 3px;
}

.poolSymbol{
    margin-left: 3px;
    background: var(--brand-gradient);
    font-size: var(--font-size-mini);       
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-bold);
    border-radius: var(--border-radius);
    color: #fff;
    padding: .2rem;
    position: relative;
    bottom: 1px;
}

.assetLabelPricing {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pageButton {
    background: #ffc0cb00;
    color: var(--brand-pink);
    font-size: var(--font-size-large);
    box-shadow: none;
    padding-bottom: 2px;
}

.navButtons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 5px;   
}

#tokenSearchButton {
    margin-top: 6px;
    height: 45px;
    width: 80px;
}