.searchForm {
    display: flex;
}

.accordion {
    /*background-color: aqua;*/
    /*border-color: aqua;*/
    border: 2px solid aqua;
}

.accordionSection {
    background-color: red;
}

.accordionSectionInner {
    background-color: green;
}


#tokenSearchButton {
    margin-top: 6px;
    height: 45px;
    width: 80px;
}