@import '../styles/variables.css';

.container .navcontainer  {
    width: var(--appWidth);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: (var(--spacer) * 3.5);
    position: fixed;
    top: 50;
    z-index: 3;
}
